@{
    ViewData["Title"] = "Configurações";
}

<div class="row">
    <div class="col-md-3">
        <div  class="list-group">
            <a asp-action="Conta"  class="list-group-item list-group-item-action">
                Conta
            </a>
            <a asp-action="Aparencia"  class="list-group-item list-group-item-action">
                Aparência
            </a>
        </div>
    </div>


    <div class="col-md-9">
        <h2>Configurações</h2>
    </div>
</div>
