@model DiarioDeEspecime.Models.Projeto

@{
    ViewData["Title"] = "Excluir Projeto";
}

<h2>Excluir Espécie</h2>

<div class="alert alert-danger" role="alert">
    Tem certeza de que deseja excluir este projeto? Esta ação não pode ser desfeita.
</div>

<div class="card mb-3">
    <div class="card-body">
        <h4 class="card-title">@Model.Nome</h4>
        <p><strong>Reino:</strong> @Model.DataInicio</p>
        <p><strong>Filo:</strong> @Model.Status</p>
    </div>
</div>

<form asp-action="Delete" method="post">
    <input type="hidden" asp-for="Id" />
    <button type="submit" class="btn btn-danger">Excluir</button>
    <a asp-action="Index" class="btn btn-secondary">Cancelar</a>
</form>
